.bg-img {
    /* The image used */
    background-image: url("./Images/Erasmus-harrold.jpg");
  
    min-height: 530px;
   opacity: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;

    background-color: rgba(163, 118, 157, 0);
  }
 
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:rgb(163, 118, 157);
    color: black;
  }
 
  /* Dit is de onderste navigatiebar */

footer {
  display: flex;
  justify-content: space-between;
  float: right;
}

  .navbar {
    bottom: 0;
    width: 100%;
    float: right;
  }
  
  .navbar a {
    padding-right: 20px;
    color: #0e0d0d;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #0c0c0c;
    background-color: rgb(163, 118, 157);
    color: black;
  }
  
  .navbar a.active {
    color: rgb(0, 0, 0);
  }
  
  /* Hier gaan we een scrollbar maken voor op de page */

  /* a {
    padding-top: 60px;
  }
  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
   */
   input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=verzend] {
    background-color:rgb(163, 118, 157);
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

  }
  
  input[type=verzend]:hover {
    background-color:rgb(163, 118, 157);
  }
  
  .formulier {
    border-radius: 5px;
    background-color: rgb(236, 198, 223);
    padding: 20px;
  }

